In [8]:
t = (1,2)
t1 = 1,2
t2 = [1,2]
t = t1
t = t2
type(t1)

tuple

In [14]:
t3 = 1,2,3,'ab'
t3
t1,t2,t3,t4 = t3
t1,t2,t3,t4

(1, 2, 3, 'ab')

In [18]:
t1,t2,*t3,tail = set(range(100000))
t1,t2,tail

(0, 1, 99999)

In [20]:
# 丢弃变量
for _ in range(10):
    print('a')

a
a
a
a
a
a
a
a
a
a

In [21]:
# 练习
# 取出第二个、第四个、倒数第二个
lst = list(range(10))
_,a,_,b,*_,c,_ = lst
a,b,c

(1, 3, 8)

In [30]:
# 从lst = [1,(2,3,4),5]提取4出来
lst = [1,(2,3,4),5]
_,(*_,c),_ = lst
c

4

In [35]:
# JAVA_HOME=/usr/bin,返回变量名和路径
s = "JAVA_HOME=/usr/bin"
env,path = s.split('=', 1)
env,path

('JAVA_HOME', '/usr/bin')

In [45]:
# 对列表[1,9,8,5,6,7,4,3,2]使用冒泡排序，要求使用封装和解构来交互数据
lst = [1,9,8,5,6,7,4,3,2]
count = len(lst)
for i in range(0, count):
    for j in range(i+1, count):
        if lst[i] > lst[j]:
            lst[i],lst[j] = lst[j],lst[i]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]